<div ng-controller="MovieCtrl">
  <div class="modal-header">
    <h3 class="post-author">{{movie.title}}</h3>
    <h3 class="pull-right close-modal post-author" ng-click="cancel()">x</h3>
  </div>
  <div class="modal-body col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-4">
        <img ng-src="{{movie.image_url || 'http://placehold.it/200x285' }}"/>
      </div>
      <div class="col-md-6 col-md-offset-2">
        <div class="row">
          <span class="release-year">Produkcja: {{movie.release_date}}</span>
        </div>
        <div class="row">
          <span class="glyphicon glyphicon-time"></span> {{movie.time}} minut
        </div>
        <div class="row">
          <span>reżyseria: {{movie.director}}</span>
        </div>
        <hr>
        <div class="row">
          <span>Ocena widzów: {{movie.average_rate}} / 10</span>
        </div>
        <div class="row rate-movie">
          <span class="post-author col-md-12">Twoja ocena </span>
          <span ng-show="user.rate > 0" class="col-md-3 rate">{{user.rate}}</span>
          <span ng-hide="user.rate > 0" class="col-md-3 rate">brak oceny!</span>
          <rating class="col-md-9" ng-model="user.rate" max="10"></rating>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="movie-description">
        <span>{{movie.description}}</span>
      </div>
    </div>
  </div>
  <div class="modal-footer"></div>
</div>
